/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #444;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

p,
input,
textarea {
  margin-bottom: 20px;
}

.content {
  word-wrap: break-word;

  /* Modern version of the same command */
  overflow-wrap: break-word;
  text-align: justify;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
}

textarea {
  text-align: justify;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

a,
button {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

a,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.edit {
  background-color: hsl(211, 100%, 50%);
  /* margin-right: 10px; */
  padding: 10px 20px;
}

a.edit:hover {
  background-color: hsl(211, 100%, 40%);
}

a.delete {
  background-color: hsl(6, 78%, 57%);
  margin-left: 5px;
}

a.delete:hover {
  background-color: hsl(6, 63%, 47%);
}

#newPostBtn {
  margin: 20px 0;
  background-color: hsl(145, 63%, 49%);
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: hsl(145, 63%, 39%);
}
